* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #87e29b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 40%;
}

.escola{
    background-image: linear-gradient(#8be09e,#4f9c60,#145530);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 500;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.ilustração {
    width: 55%;
    margin: 0px 30px;
}